{% extends 'base.html.twig' %}

{% block title %}Hello MTCController!{% endblock %}

{% block body %}
    <section class="padding">
        <div class="header-row">
            <h1 class="title">Principes de la MTC</h1>
        </div>
        <section class="header-img">
            <figure class="hero-img">
                <img src="/img/MTC/MTC.png" alt="Logo Médecine Traditionnelle Chinoise">
            </figure>
        </section>
        <section class="section-block">
            <h1>La tradition chinoise</h1>
            <p>La Médecine Traditionnelle Chinoise (MTC) est un système de <strong>soins holistique</strong> qui trouve
                son origine dans la Chine ancienne et qui est <strong>pratiqué depuis des milliers d’années</strong>.
                Elle considère le corps comme un système interconnecté, où la santé est maintenue par
                <strong>l’équilibre harmonieux de l’énergie vitale</strong>, appelée Qi, ainsi que par les forces
                opposées du Yin et du Yang.
            </p>
        </section>
        <section class="section-block">
            <h1>La circulation du QI</h1>
            <p>Le Qi, prononcé "tchi", est la force vitale fondamentale qui circule dans les méridiens du corps, ou
                voies énergétiques. Lorsque le Qi circule de manière fluide et abondante, le corps est en bonne santé.
                Des blocages ou déséquilibres dans la circulation du Qi peuvent entraîner divers problèmes de santé.</p>
        </section>
        <section class="section-block">
            <h1>L'équilibre Yin et Yang</h1>
            <img src="/img/MTC/YinYang.png" alt="Symbole Yin Yang" style="float: left; width: 100px; margin-right: 20px; margin-bottom: 10px;">
            <p> Ce sont des référents qui permettent de
                classifier toute chose. Le Yin est par
                nature froid, sombre, tourné vers
                l'intérieur, dense, statique et lent, il est matière. Le Yang c'est la chaleur, la clarté, la légèreté,
                l'extérieur, le mouvement et la vitesse, il est énergie.​ Le Yin et le Yang représentent des forces
                opposées mais complémentaires qui existent dans tous les aspects de la vie, y compris dans le corps. Le
                Yin est associé à la fraîcheur, à la passivité et à l’intérieur, tandis que le Yang est associé à la
                chaleur, à l’activité et à l’extérieur. La santé est maintenue lorsque le Yin et le Yang sont en
                équilibre.
            </p>
        </section>
        <section class="section-block">
            <h1>Les 5 éléments</h1>
            <p>La MTC intègre la théorie des Cinq Éléments, qui décrit les relations interconnectées entre le <span class="bois">Bois</span>, le
                <span class="feu">Feu</span>, la <span class="terre">Terre</span>, le <span class="metal">Métal</span> et l’<span class="eau">Eau</span>. Chaque élément correspond à des organes, des émotions et des saisons
                spécifiques, et leurs interactions influencent la santé et le bien-être. <br><br>
            </p>
            <p>
                <span style="background-color: #D4E9C0;">
                    Le Bois est en relation avec le foie, associé à la vésicule billaire
                </span>
                <br><br>
                <span style="background-color: #FFD6D6;">
                    Le Feu est en relation avec le coeur, associé à l’intestin grêle
                </span>
                <br><br>
                <span style="background-color: #FFF5CC;">
                    La Terre est est en relation avec la rate, associé à l’estomac
                </span>
                <br><br>
                <span style="background-color: #E0E0E0;">
                    Le Métal est en relation avec le poumon, associé au gros intestin
                </span>
                <br><br>
                <span style="background-color: #C7E6F7;">
                    L’Eau est en relation avec le rein, associé à la vessie
                </span>
                <br><br>
            </p>
        </section>
        <section class="section-block">
            <h1>Les méridiens</h1>
            <p>Les méridiens sont les voies par lesquelles le Qi circule dans tout le corps, reliant les organes et les tissus. Il existe douze méridiens principaux, chacun associé à un système d’organes spécifique. La réflexologie agit en stimulant certains points situés sur les pieds qui correspondent à différents méridiens et organes, favorisant ainsi la circulation du Qi et l’équilibre.</p>
        </section>
        <section class="section-block">
            <h1>La diététique chinoise</h1>
            <p>La MTC accorde une grande importance à l’alimentation dans le maintien de la santé. Les aliments sont classés selon leurs propriétés énergétiques, comme le fait de réchauffer ou de refroidir, et sont utilisés pour équilibrer le Yin et le Yang du corps. Les recommandations alimentaires sont adaptées aux besoins et déséquilibres individuels.</p>
        </section>
        <a href="{{path('app_appointment')}}" class="learn-more-btn">réserver une séance</a>
    </section>
{% endblock %}
