{% extends 'base.html.twig' %}

{% block title %}New Session{% endblock %}

{% block body %}
    <div class="admin-crud-header">
        <a href="{{ path('admin_dashboard') }}" class="dashboard-back-btn">← Retour au tableau de bord</a>
    </div>
    <h1>Create new Session</h1>

    {{ include('session_crud/_form.html.twig') }}

    <a href="{{ path('app_session_crud_index') }}">back to list</a>
{% endblock %}
