{% extends 'base.html.twig' %}

{% block title %}New Appointment{% endblock %}

{% block body %}
    <h1>Create new Appointment</h1>

    {{ include('appointment_crud/_form.html.twig') }}

    <a href="{{ path('app_appointment_crud_index') }}">back to list</a>
{% endblock %}
