{% extends 'base.html.twig' %}

{% block title %}ReflexologieCôtière | New User{% endblock %}

{% block body %}
    <div class="admin-crud-header">
        <a href="{{ path('admin_dashboard') }}" class="dashboard-back-btn">← Retour au tableau de bord</a>
    </div>
    <h1>Create new User</h1>

    {{ include('user_crud/_form.html.twig') }}

    <a href="{{ path('app_user_crud_index') }}">back to list</a>
{% endblock %}
