{% extends 'base.html.twig' %}

{% block title %}Réflexologie en entreprise{% endblock %}

{% block body %}
<section class="padding">
        <div class="header-row">
            <a href="{{ path('app_home') }}" class="arrow">&#10229;</a>
            <h1 class="title">La réflexologie en entreprise</h1>
            <h4>Annick Brunel E.I</h4>
        </div>
        <section class="hero">
            <figure>
                <img src="/img/homepage/HPlogo-removebg-preview 1.png" alt="Company logo">
            </figure>

            <h1>Améliorez votre bien-être au travail</h1>
            <p>Je vous propose de réaliser dans vos locaux professionnels des séances de réflexologie plantaire à
                destination de vos salariés ou de vos clients.</p>
            <a href="#" class="learn-more-btn">Me contacter</a>
        </section>

        <section class="section-block">
            <h1>Pourquoi la réfléxologie en entreprise est une bonne idée</h1>
                        <div style="text-align:center; margin-top: 2em;">
                <a href="/docpdf/reflexo_entreprise.pdf" class="download-plaquette-btn" target='blank'><span>Télécharger la plaquette d'informations</span></a>
            </div>
            <p>Vous êtes soucieux du bien être au travail de vos collaborateurs et vous souhaitez mettre à leur
                disposition un moyen pour se détendre et relâcher les tensions ? La réflexologie peut accompagner la
                démarche de qualité de vie au travail.</p>
            <div class="panels">
                <div class="panel">
                    <img src="/img/icones/leaf-solid.svg" alt="Leaf icon">
                    <h4>Améliore le bien-être des employés</h4>
                    <p>La réflexologie peut aider à réduire le stress, améliorer la qualité du sommeil et aide à la
                        détente et la relaxation</p>
                </div>
                <div class="panel">
                    <img src="/img/icones/chart-line-solid.svg" alt="Chart icon">
                    <h4>Améliore la productivité</h4>
                    <p>Un collaborateur libéré de ses tensions et détendu est naturellement plus efficace, ce qui favorise à la fois la performance individuelle et la qualité du travail au sein de l’équipe.</p>
                </div>
            </div>
        </section>

        <section class="section-block">
            <h1>Comment ça marche ?</h1>
            <p>Les séances s'organisent dans vos locaux, dans une pièce ou un espace de quelques mètres carrés avec un
                point d'eau à proximité. </p>
            <div class="photos">
                <img src="/img/entreprise/entreprise 1.avif" alt="Photos de l'espace de travail">
                <img src="/img/entreprise/entreprise 2.avif" alt="Photos de l'espace de travail">
            </div>
        </section>

        <section class="section-block">
            <h1>Organisation</h1>
            <p>Le jour convenu, il faut prévoir 30 minutes par personne, dont 20 minutes minimum de pratique. Le temps
                restant concerne l'accueil et l'installation de vos collaborateurs, la clôture de la séance et
                l'installation du linge propre pour la séance suivante.</p>
            <div class="panels">
                <div class="panel">
                    <img src="/img/icones/couch-solid.svg" alt="Couch icon">
                    <h4>Installation comfrotable</h4>
                    <p>Je me charge de fournir l'ensemble du matériel nécessaire (relax zéro gravité, tabouret, draps à
                        usage unique, serviettes éponge, plaid...).</p>
                </div>
                <div class="panel">
                    <img src="/img/icones/clock-solid.svg" alt="Clock icon">
                    <h4>Organisation</h4>
                    <p>Le jour J, prévoir 30 minutes par personne : environ 20 minutes de pratique, le reste pour
                        l'accueil, l'installation et la préparation de la séance suivante.</p>
                </div>
            </div>
        </section>

        <div class="center-container">
            <h1 class="ready">Prêt à découvrir la réflexologie ?</h1>
            <a href="{{path('app_contact')}}" class="contact">Me contacter</a>
        </div>

        <section class="tarifs-section">

          <h2>Tarifs</h2>
          <ul>
            <li>50€00 de l'heure pour une intervention d'une demie journée de 4 heures</li>
            <li>47€00 de l'heure pour la journée complète avec 3 heures le matin et 3 heures l'après midi</li>
            <li>Pour 5 interventions mises en place : - 5% sur le tarif horaire</li>
            <li>Pour 10 interventions mises en place : -10% sur le tarif horaire</li>
          </ul>
          <h3>Frais kilométriques</h3>
          <p>Le barème appliqué pour mes déplacements dans vos locaux est celui du Service Publique soit actuellement 0€606/km pour mon véhicule de 4CV</p>
          <h3>Bons cadeaux</h3>
          <p>Vous pouvez opter pour des bons cadeaux à destination de vos collaborateurs ou de vos clients<br>
          Tarifs sur demande - Les bons cadeau sont valables 6 mois à compter de la date à laquelle ils vous sont remis - Les séances se déroulent dans mon espace de travail situé au 1er étage d'un domicile particulier sur la commune de Beynost.</p>
          <h3>Facturation et modalités de règlement</h3>
          <ul>
            <li>Le règlement des factures se fera par virement bancaire</li>
            <li>Un acompte de 30% du montant total prévisionnel est à régler au moment de l'achat.</li>
            <li>Dans le cas où plusieurs interventions sont planifiées dans les locaux de l'entreprise, je vous présente une facturation unique.</li>
            <li>Dans tous les cas, le solde du règlement  sera effectué par le client dans un délai maximum de J+30 à compter de la formalisation de la vente</li>
          </ul>
                    <a href="/docpdf/cgv.pdf" target="_blank" class="tarifs-cgv-link"><h2>Conditions Générales de Vente (CGV)</h2></a>
        </section>
</section>
{% endblock %} 