{% extends 'base.html.twig' %}

{% block title %}Réflexologie en entreprise{% endblock %}

{% block body %}
<section class="padding">
        <div class="header-row">
            <a href="{{ path('app_home') }}" class="arrow">&#10229;</a>
            <h1 class="title">La réflexologie en entreprise</h1>
            <h4>Annick Brunel E.I</h4>
        </div>
        <section class="hero">
            <figure>
                <img src="/img/homepage/HPlogo-removebg-preview 1.png" alt="">
            </figure>

            <h1>Améliorez votre bien-être au travail</h1>
            <p>Je vous propose de réaliser dans vos locaux professionnels des séances de réflexologie plantaire à
                destination de vos salariés ou de vos clients.</p>
            <a href="#" class="learn-more-btn">Me contacter</a>
        </section>

        <section class="why">
            <h1>Pourquoi la réfléxologie en entreprise est une bonne idée</h1>
            <p>Vous êtes soucieux du bien être au travail de vos collaborateurs et vous souhaitez mettre à leur
                disposition un moyen pour se détendre et relâcher les tensions ? La réflexologie peut accompagner la
                démarche de qualité de vie au travail.</p>
            <div class="panels">
                <div class="panel">
                    <img src="/img/icones/arrow-down-solid.svg" alt="arrow icone">
                    <h4>Améliore le bien-être des employés</h4>
                    <p>La réflexologie peut aider à réduire le stress, améliorer la qualité du sommeil et aide à la
                        détente et la relaxation</p>
                </div>
                <div class="panel">
                    <img src="/img/icones/arrow-down-solid.svg" alt="arrow icone">
                    <h4>Améliore le bien-être des employés</h4>
                    <p>La réflexologie peut aider à réduire le stress, améliorer la qualité du sommeil et aide à la
                        détente et la relaxation</p>
                </div>
            </div>
        </section>

        <section class="how-it-works-company">
            <h1>Comment ça marche ?</h1>
            <p>Les séances s'organisent dans vos locaux, dans une pièce ou un espace de quelques mètres carrés avec un
                point d'eau à proximité. </p>
            <div class="photos">
                <img src="/img/entreprise/entreprise 1.avif" alt="">
                <img src="/img/entreprise/entreprise 2.avif" alt="">
            </div>
        </section>

        <section class="organisation">
            <h1>Organisation</h1>
            <p>Le jour convenu, il faut prévoir 30 minutes par personne, dont 20 minutes minimum de pratique. Le temps
                restant concerne l'accueil et l'installation de vos collaborateurs, la clôture de la séance et
                l'installation du linge propre pour la séance suivante.</p>
            <div class="panels">
                <div class="panel">
                    <img src="/img/icones/arrow-down-solid.svg" alt="arrow icone">
                    <h4>Installation comfrotable</h4>
                    <p>Je me charge de fournir l'ensemble du matériel nécessaire (relax zéro gravité, tabouret, draps à
                        usage unique, serviettes éponge, plaid...).</p>
                </div>
                <div class="panel">
                    <img src="/img/icones/arrow-down-solid.svg" alt="arrow icone">
                    <h4>Organisation</h4>
                    <p>Le jour J, prévoir 30 minutes par personne : environ 20 minutes de pratique, le reste pour
                        l'accueil, l'installation et la préparation de la séance suivante.</p>
                </div>
            </div>
        </section>

        <div class="center-container">
            <h1 class="ready">Prêt à découvrir la réflexologie ?</h1>
            <a href="#" class="contact">Me contacter</a>
        </div>
</section>
{% endblock %} 